version: '3.0'

services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    volumes:
      - ./dev/provisioning:/etc/grafana/provisioning
      - ./dev/custom.ini:/etc/grafana/grafana.ini
      - ./dev/license.jwt:/var/lib/grafana/license.jwt
      - grafana-storage:/var/lib/grafana
    environment:
      GF_FEATURE_TOGGLES_ENABLE: localizationForPlugins

volumes:
  grafana-storage:
