version: '3.0'

services:
  grafana:
    container_name: 'grafana-synthetic-monitoring-app'
    build:
      context: ./.config
      args:
        grafana_version: ${GRAFANA_VERSION:-main}
        grafana_image: ${GRAFANA_IMAGE:-grafana-enterprise}
    ports:
      - 3000:3000/tcp
    volumes:
      - ./dist:/var/lib/grafana/plugins/grafana-synthetic-monitoring-app
      - ./dev/provisioning:/etc/grafana/provisioning
      - ./dev/custom.ini:/etc/grafana/grafana.ini
      - ./dev/license.jwt:/var/lib/grafana/license.jwt
      - grafana-storage:/var/lib/grafana
    environment:
      GF_PLUGINS_PREINSTALL: yesoreyeram-infinity-datasource

volumes:
  grafana-storage:
