version: 2.1

parameters:
  ssh-fingerprint:
    type: string
    default: ${GITHUB_SSH_FINGERPRINT}

aliases:
  # Workflow filters
  - &filter-only-master
    branches:
      only: master
  - &filter-only-release
    branches:
      only: /^v[1-9]*[0-9]+\.[1-9]*[0-9]+\.x$/

workflows:
  versioning:
    jobs:
      - install_dependencies:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - version_bump:
          filters:
            branches:
              ignore: /.*/
            tags:
              ignore: /.*/
          requires:
            - install_dependencies

  plugin_workflow:
    jobs:
      - install_dependencies:
          filters:
            branches:
              ignore: master
      - build:
          requires:
            - install_dependencies
      - report:
          requires:
            - build
      - approve_release:
          type: approval
          requires:
            - report
          filters: *filter-only-release
      - publish_github_release:
          requires:
            - approve_release
          filters: *filter-only-release

executors:
  default_exec: # declares a reusable executor
    docker:
      - image: srclosson/grafana-plugin-ci-alpine:latest
    resource_class: xlarge
  e2e_exec:
    docker:
      - image: srclosson/grafana-plugin-ci-e2e:latest

jobs:
  install_dependencies:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: |
            node -v
            mkdir ci
            yarn install --frozen-lockfile
      - save_cache:
          name: save node_modules
          paths:
            - ~/project/node_modules
          key: build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

  build:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build and test frontend
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build
      - run:
          name: Move results to ci folder
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build --finish
      - run:
          name: Package distribution
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:ci-package
      - persist_to_workspace:
          root: .
          paths:
            - ci/jobs/package
            - ci/packages
            - ci/dist
            - ci/grafana-test-env
      - store_artifacts:
          path: ci

  version_bump:
    executor: default_exec
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - << pipeline.parameters.ssh-fingerprint >>
            - '48:1b:33:86:08:6d:24:64:14:15:cf:e1:d8:70:3f:19'
            - ${GITHUB_SSH_FINGERPRINT}
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: 'bump version and commit changelog'
          command: |
            git config user.email "circleci@grafana.com"
            git config --global user.name "CircleCI Automation"
            yarn release:ci

  report:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Toolkit report
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:ci-report
      - store_artifacts:
          path: ci

  publish_github_release:
    executor: default_exec
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - << pipeline.parameters.ssh-fingerprint >>
            - '48:1b:33:86:08:6d:24:64:14:15:cf:e1:d8:70:3f:19'
            - ${GITHUB_SSH_FINGERPRINT}
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: 'Publish Release on GitHub'
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:github-publish
            apk --no-cache add curl
            COMMIT=$(git rev-parse HEAD)
            curl -H "Authorization: Bearer $GRAFANA_API_KEY" https://grafana.com/api/plugins -d url=https://github.com/grafana/synthetic-monitoring-app -d commit=$COMMIT
