version: 2.1

parameters:
  ssh-fingerprint:
    type: string
    default: ${GITHUB_SSH_FINGERPRINT}

aliases:
  # Workflow filters
  # release-it adds a version tag without a leading "v", we want to run github deploys on those tags
  - &filter-only-tagged
    tags:
      only: /^(([0-9]+)\.([0-9]+)\.([0-9]+))/
    branches:
      ignore: /.*/
  - &filter-only-master
    branches:
      only: master
    tags:
      ignore: /.*/
  - &filter-only-pr
    branches:
      ignore: master
    tags:
      ignore: /.*/
  # Grafana toolkit adds a version tag with a leading "v" to github deploys, we only want to run releases on those tags
  - &filter-only-release
    tags:
      only: /^v(([0-9]+)\.([0-9]+)\.([0-9]+))/
    branches:
      ignore: /.*/

workflows:
  pr_build:
    jobs:
      - install_dependencies:
          filters: *filter-only-pr
      - test:
          requires:
            - install_dependencies
  master_build:
    when:
      and:
        - equal: [master, << pipeline.git.branch >>]
      not:
        - << pipeline.git.tag >>
    jobs:
      - install_dependencies:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - version_bump:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
          requires:
            - install_dependencies

  publish_release:
    jobs:
      - install_dependencies:
          filters: *filter-only-tagged
      - build:
          filters: *filter-only-tagged
      - publish_github_release:
          filters: *filter-only-tagged
          requires:
            - build

  register_with_gcom:
    jobs:
      - release_to_staging:
          filters: *filter-only-release
      - approve_release:
          type: approval
          requires:
            - release_to_staging
          filters: *filter-only-release
      - release_to_production:
          requires:
            - approve_release
          filters: *filter-only-release

executors:
  default_exec: # declares a reusable executor
    docker:
      - image: srclosson/grafana-plugin-ci-alpine:latest
    resource_class: xlarge
  e2e_exec:
    docker:
      - image: srclosson/grafana-plugin-ci-e2e:latest

jobs:
  install_dependencies:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: |
            node -v
            mkdir ci
            yarn install --frozen-lockfile
      - save_cache:
          name: save node_modules
          paths:
            - ~/project/node_modules
          key: build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

  test:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build and test frontend
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build

  build:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build and test frontend
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build
      - run:
          name: Move results to ci folder
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build --finish
      - run:
          name: Package distribution
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:ci-package
      - persist_to_workspace:
          root: .
          paths:
            - ci/jobs/package
            - ci/packages
            - ci/dist
            - ci/grafana-test-env
      - store_artifacts:
          path: ci

  version_bump:
    executor: default_exec
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - << pipeline.parameters.ssh-fingerprint >>
            - '48:1b:33:86:08:6d:24:64:14:15:cf:e1:d8:70:3f:19'
            - ${GITHUB_SSH_FINGERPRINT}
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: 'bump version and commit changelog'
          command: |
            git config user.email "circleci@grafana.com"
            git config --global user.name "CircleCI Automation"
            TAG=$(git tag --points-at HEAD)
            if [ "" == "$TAG" ]; then
                echo "Updating version and changelog"
                yarn release:ci
            else
                echo "Skipping versioning"
                exit 0
            fi

  report:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Toolkit report
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:ci-report
      - store_artifacts:
          path: ci

  publish_github_release:
    executor: default_exec
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - << pipeline.parameters.ssh-fingerprint >>
            - '48:1b:33:86:08:6d:24:64:14:15:cf:e1:d8:70:3f:19'
            - ${GITHUB_SSH_FINGERPRINT}
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: 'Publish Release on GitHub'
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:github-publish
      - store_artifacts:
          path: ci

  release_to_staging:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: 'Publish release to staging'
          command: |
            apk --no-cache add curl
            ./scripts/staging-install.sh

  release_to_production:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: 'Publish release to production'
          command: |
            apk --no-cache add curl
            COMMIT=$(git rev-parse HEAD)
            curl -H "Authorization: Bearer $GRAFANA_API_KEY" https://grafana.com/api/plugins -d url=https://github.com/grafana/synthetic-monitoring-app -d commit=$COMMIT
