name: DangerJS

on:
  workflow_call:

permissions:
  pull-requests: write
  attestations: read
  contents: read
  issues: read
  statuses: write

jobs:
  danger-js:
    name: DangerJS
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    permissions:
      pull-requests: write
      attestations: read
      contents: read
      issues: read
      statuses: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Plugin Environment
        uses: ./.github/actions/setup-env

      - name: Download currentBundleSize
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: currentBundleSize
          path: artifacts

      - name: Download mainBundleSize
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          workflow: on-push-to-main.yml
          name: mainBundleSize
          path: artifacts

      - name: DangerJS
        run: yarn danger:ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
