name: Publish TechDocs
on:
  workflow_call:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

permissions: {}

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      docs-changed: ${{ steps.changes.outputs.docs }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            docs:
              - 'docs/**'
              - 'mkdocs.yml'
              - 'catalog-info.yaml'

  publish-docs:
    needs: check-changes
    if: needs.check-changes.outputs.docs-changed == 'true'
    uses: grafana/shared-workflows/.github/workflows/publish-techdocs.yaml@main
    permissions:
      contents: read
      id-token: write
    with:
      namespace: default
      kind: component
      name: synthetic-monitoring-app
      default-working-directory: .
