name: Lint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  set-up:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Plugin Environment
        uses: ./.github/actions/setup-env

      - name: Lint
        run: yarn lint
